body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-color: #f5f8fa;
}

.navbar {
  background-color: white;
  border-bottom: 1px solid #607D8B;
}

#app {
    padding: 1rem 0;
}

[type=radio] {
  opacity: 0;
}

.search-wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.logos {
  display: inline-block;
  min-width: 200px;
}

.logo {
  font-size: 2rem;
  display: inline-block;
  text-align: center;
  margin: 0 1.5rem;
  position: relative;
  label {
    color: #ccc;
    position: absolute;
    top: 0;
    left: -50%;
  }
}

 #windows:checked + label {
   color: #0078d7;
 }


 #playstation:checked + label {
   color: #003087;
 }



 #xbox:checked + label {
   color: #52b043;
 }
