
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$grid-gutter-width: 0.25rem;
