
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-weight: 400;
  background: #f5f8fa;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}


@media (min-width: 1200px) {
  html {
    font-size: 24px;
  }
}

.platform-button-wrapper {
  position: relative;
}

.platform-button-wrapper button {
    background: white;
    border: 1px solid #ccc;
    margin-right: -1px;
    border-radius: 0px;
}

 #windows {
   color: #0078d7;
   &.selected, &:hover, input:checked + & {
     color: white;
     background-color: #0078d7;
   }
 }


 #psn {
   color: #003087;
   &.selected, &:hover, input:checked + & {
     color: white;
     background-color: #003087;
   }
 }


 #xbox {
   color: #52b043;
   &.selected, &:hover, input:checked + & {
     color: white;
     background-color: #52b043;
   }
 }

 #refresh {
   color: #4DAA57;
   &:hover, input:checked + & {
     color: white;
     background-color: #52b043;
   }
 }
.platform-button {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
}

.no-outline, .no-outline:focus, .no-outline:active {
  outline: none !important;
  box-shadow: none !important;
}


.stat-big {
  margin-bottom: $grid-gutter-width;
  .body {
    padding: 3rem 0;
    border: 1px solid #e1f0fd;
    border-radius: 1rem;
    box-shadow: 0px 4px 2px -2px rgba(0,0,0,0.27);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: white;
    font-family: sans-serif;
    line-height: 0rem;
    position: relative;
    overflow: hidden;
    .rank{
      width: 100%;
      font-size: 0.5rem;
      margin-bottom: -0.4rem;
      color: #444;
    }
    .value {
      width: 100%;
      font-size: 2rem;
      font-weight: bold;
      color: #222;
      margin: 1.6rem 0;
    }
    .key {
      width: 100%;
      font-size: 0.7rem;
      color: #222;
    }
    .icon {
      font-size: 11rem;
      position: absolute;
      top: 2rem;
      left: 1rem;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      color: rgba(0, 0, 0, 0.025);
      transform: rotate(25deg);
    }
  }
}



.donut-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0.8rem;
  z-index: 3;
}

.donut-ring {
  stroke: none;
}

.donut-segment {
  &.squad {
    stroke: #f44336;
  }
  &.duo {
    stroke: #2196f3;
  }
  &.solo {
    stroke: #8bc34a;
  }
}
